<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>

    <h2>스프링 부트 게시판</h2>
</div>

<table border="1">
    <thead>
    <tr>
        <td>순번</td>
        <td>상품명</td>
        <td>상품설명</td>
        <td>가격</td>
        <td>상품등록일</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="itemDto, status: ${itemDtoList}">
        <td th:text="${status.index}"></td>
        <td th:text="${itemDto.itemNm}"></td>
        <td th:text="${itemDto.itemdetail}"></td>
<!--        <td><a th:href="@{/thymeleaf/ex07(id1='/thymeleaf/ex02')}">e</script> </a></td>-->
<!--        <td><a th:href="@{/thymeleaf/ex07(id2='/thymeleaf/ex01')}">데이터베이스 2번</a></td> &lt;!&ndash; td안에 href 태그를 넘겨놓으면 됨&ndash;&gt;-->
        <td th:text="${itemDto.price}"></td>
        <td th:text="${itemDto.regTime}"></td>
<!--        <ul>-->
<!--            <li th:text="${itemDto.id}"></li>-->
<!--            <li th:text="${itemDto.itemNm}"></li>-->
<!--            <li th:text="${itemDto.itemdetail}"></li>-->
<!--            <li th:text="${itemDto.price}"></li>-->
<!--            <li th:text="${itemDto.regTime}"></li>-->
<!--            &lt;!&ndash; 이건 출력임 &ndash;&gt;-->
<!--        </ul>-->
    </tr>
    </tbody>
</table>
</body>
</html>