<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<!--- 위 문장 thymeleaf의 th:text 문법 사용을 지정, 추가하는 것 --->
<head>
    <meta charset="UTF-8">
    <TITLE>Thymeleaf</TITLE>
</head>
<body>
<h1>상품 데이터 출력 예제</h1>
<div>
    상품명 : <span th:text="${itemDto.itemNm}"><</span>
</div>
<div>
    상품상세설명 : <span th:text="${itemDto.itemdetail}"><</span>
</div>
<div>
    상품등록일 : <span th:text="${itemDto.regTime}"></span>
</div>
<div>
    상품가격 : <span th:text="${itemDto.price}"></span>
</div>
<div>
    상품가격 : <span th:text="${itemDto.id}"></span>
</div>
</body>
</html>